.container{
    max-width: 90%;
    margin: auto;
 
}
nav ul li a{
    text-decoration: none;
}
nav ul li{
    list-style-type: none;
}
.top-bar
{
    display: flex;
    gap:30px;
    justify-content: space-between;
    
}
.header{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.header-right{
    flex-grow: 2;
    display: flex;
    align-items: center;
}
.search input{
    width: 350px;
    line-height: 20px;
    border-radius: 15px;
    border: none;
    background-color: #78788029;
    padding-left: 30px;
}
.search{
    display: flex;
}

.icon{
    position: relative;
}
.input-left
{
    position: absolute;
    left: 5px;
    top:50%;
    transform:translateY(-50%)
}
.input-right
{
    position: absolute;
    right: 5px;
    top:50%;
    transform:translateY(-50%)
}
.nav-icon ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-icon ul{
    display: flex;
    gap:10px;

}
.main-nar ul{
    display: flex;
    gap:20px;
 
}
.content{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 100px;
   
}
.content img{
    width: 280px;
    height: 300px;  
}
.content p{
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-between;
}

.right-center{
    display: flex;
    flex-direction: column;
}
.right{
    margin-top: 25px;
}
.left{
    display: flex;
    flex-direction: column;
}

.top-icon{
    display: flex;
    align-items: center;
}
.bottom-icon{
    display: flex;
    align-items: center;
}

.ghang
{
    color: #EC221F;
}
.phone
{
    color: #EC221F;
}
.bell{
    color: #EC221F;
}
.user{
    color:#CB30E0;
}
.menu{
    color:#FD067D;
}
.ptram{
    color:#8B1965;
}
.wifi{
    color:#27C840;
}