.container{
    max-width: 90%;
    margin: auto;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.top-bar{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.header-right{
    flex-grow: 2;
    display: flex;
    align-items: center;
}
.seach input{
 width: 350px;
 border-radius: 10px;
 line-height: 20px;
 border: none;
 background-color: #78788029;
 padding-left: 30px;
}
.input{
    position: relative;
}
.input-left{
    position: absolute;
    left:10px;
    top: 50%;
    transform: translatey(-50%);
}
.input-right{
    position: absolute;
    right:10px;
    top: 50%;
    transform: translatey(-50%);
}

.seach{
    display: flex;
}
.icon ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon ul{
    display: flex;
    gap: 15px;
}
.main ul{
    display: flex;
    gap: 15px;
}