.header
{
    margin: 0;
    background-color: #00ffe1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:auto;
}
.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.logo h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: "Noticia Text", serif;

 
}
.logo img{
    width: 70px;
    height: 70px;
}
.thanhcacmuctin ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: auto;
    justify-content: space-between;
    
}
.thanhcacmuctin ul li{

    margin: 0 80px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    font-family: "Irish Grover", system-ui;
}
.thanhcacmuctin ul li a{
   
    text-decoration: none;
}
.dangnhap-dangky a{
    
    text-decoration: none;
}
.dangnhap-dangky{
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0 40px #1c09c4 ;
    font-family: "Irish Grover", system-ui;
}
.dangnhap-dangky .dangnhap{
    
    border-radius: 20px;
    color: black;
    border: 5px solid #16bdc9;
}
.dangnhap:hover
{
    
    box-shadow: 0 5px 9px rgba(0,0,0,0.3);
    transform: translateY(-1);
}
.dangnhap-dangky .dangky{
    margin-left: 15px;
    border-radius: 20px;
    color: black;
    border: 5px solid #16bdc9;
    
}
.dangky:hover
{
    
    box-shadow: 0 5px 9px rgba(0,0,0,0.3);
    transform: translateY(-1);
}
.noidung .tieudenoi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.h1 img{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    
}
.h2 img{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.h3 img{
    display: flex;
    align-items: center;
    flex-direction: column;
  
}
.h4 img{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
    
}
.noidung .tieude {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

}
.tieude h2{
    font-size: 60px;
    font-weight: bold;
    line-height: 1.5;
    font-family: "Noticia Text", serif;
}
.taoclb{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:auto;
}
.taoclb .t1{
    display: flex;
    align-items: center;
}
.taoclb .t2{
    display: flex;
    align-items: center;
}
.taoclb .t3{
    display: flex;
    align-items: center;
}
.taoclb .t4{
    display: flex;
    align-items: center;
}
.taoclb img{
    margin-left: 50px;
}

.taoclb p{
    font-size: 15px;
    font-weight: 300;
    font-family: "Irish Grover", system-ui;
}
.taoclb h3{
    font-size: 20px;
    font-weight: 300;
    font-family: "Irish Grover", system-ui;
}
footer{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:auto;
    gap: 40px;
    border-top: 3px solid #d0d5d5;
    margin-top: 60px;
    background-color: #00ffe1;
}
.trai p
{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: "Irish Grover", system-ui;
}
.phai p
{
    margin-right: 300px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Irish Grover", system-ui;
}
.trai ul li{
    font-size: 20px;
    font-weight: 300;
    font-family: "Irish Grover", system-ui;
}

